.toast {
    position: unset;
    margin-top: 0px;
}

#flash-toast {
    margin-bottom: 10px;
}

#choose-btn {
    margin-top: 15px;
}

#title h1 {
    font-size: 24px;
    padding: 5px 0;
    margin: 0;
    text-align: center;
}

.select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-field {
    width: 100%;
    margin: 0;
}

.last-update-time {
    font-size: 12px;
    color: lightgray;
    padding: 5px 0;
    margin: 0;
}

#update-soh-title {
    font-size: 16px;
    margin: 10px 0 8px 0;
}

th,
td {
    padding: 8px 5px;
}

/* th {
    white-space: nowrap;
}

td {
    max-width: 300px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    width: inherit;
    font-size: 14px;
} */

/* Preloader */
#preloader-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -100%);
}

.spinner {
    /* margin: 100px auto; */
    width: 45px;
    height: 45px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}
  
.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #title h1 {
        font-size: 2rem;
        padding: 1.3rem 0;
        margin: 0;
        text-align: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 85%!important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 70%!important;
    }

    #update-container {
        position: fixed;
        /* right: 1%; */
        left: 1%;
        bottom: 1%;
        margin: 0;
        width: 12%!important;
    }

    .select-container {
        display: unset;
        justify-content: unset;
        align-items: unset;
    }
}