{% extends "layout.html" %}
{% block title %}
<title>{{ reorder.brand}} Reorder Points</title>
{% endblock title %}
{% block styles %}
<!-- External styles -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock styles %}
{% block header %}
<div class="container">
  <div class="col s12">
    <div id="title">
      <h1>
        <span id="brand">{{ reorder.brand }}</span> Sell-Through (Past
        <span id="num-months">{{ reorder.months_past_sellthrough }}</span> Months)
      </h1>
    </div>
  </div>
</div>
<div id="update-container" class="container">
  <div class="row">
    <div class="col s12">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in
      messages %}
      <div id="flash-toast" class="toast" style="{{ category }}">
        {{ message }}
        <i id="flash-close" class="material-icons">cancel</i>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </div>
    <div class="col s12 m6 l12">
      <div class="card-panel">
        <div class="select-container">
          <div class="input-field">
            <select id="group-select">
              <option selected value="javascript:void(0)">Choose...</option>
              <option value="/update/{{ reorder.brand }}/3">Three</option>
              <option value="/update/{{ reorder.brand }}/6">Six</option>
              <option value="/update/{{ reorder.brand }}/12">Twelve</option>
            </select>
          </div>
          <div class="input-group-append">
            <a id="update-btn" href="javascript:void(0)" class="waves-effect waves-light btn disabled">Update</a>
          </div>
        </div>
        <div id="update-time">
          <p class="last-update-time">
            <em></em>
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l12">
      <div class="card-panel">
        <div class="select-container">
          <p class="card-panel-title">Update Stock On Hand</p>
          <a id="soh-update-btn" href="/update-soh/{{ reorder.brand }}" class="btn waves-effect waves-light update-btn">Update</a>
        </div>
        <div>
          <p class="last-update-time"><em>Last update on {{ soh_data.last_update }} PST</em></p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l12">
      <div class="card-panel">
        <div class="select-container">
          <p class="card-panel-title">Update Sell Through</p>
          <a id="sell-update-btn" href="javascript:void(0)" class="btn waves-effect waves-light update-btn">Update</a>
        </div>
        <div>
          <p class="last-update-time"><em>Last update on PST</em></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block main %}
<div class="container">
  <table class="responsive-table highlight">
    <thead>
      <tr>
        <th></th>
        <th class="text-left">Product Code</th>
        <th class="text-left">Description</th>
        <th class="text-right">Stock On Hand</th>
        <th class="text-right">Threshold</th>
        <th class="text-right">Gauge</th>
        <th class="text-right">Allocated Quantity</th>
        <th class="text-right">Total Sales</th>
        <th class="text-right">Avg. Monthly Sales</th>
        <th class="text-right">Max Monthly Sales</th>
        <th class="text-right">Lead Time Demand</th>
        <th class="text-right">Safety Stock</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
<div id="preloader-container">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div>
{% endblock main %}
{% block scripts %}
<!-- d3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
<!-- External JavaScript -->
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock scripts %}