<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block title %} {% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    {% block styles %} {% endblock %}
  </head>

  <body>

    <header>
      {% block header %} {% endblock %}
    </header>

    <main>
      {% block main %} {% endblock %}
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue">
          <i class="large material-icons">layers</i>
        </a>
        <ul>
          <li>
            <a href="{{ url_for('logout') }}" class="btn-floating tooltipped red" data-position="left" data-tooltip="Logout">
              <i class="material-icons">gesture</i>
            </a>
          </li>
          <li>
            <a href="{{ url_for('products') }}" class="btn-floating tooltipped" data-position="left" data-tooltip="Configure">
              <i class="material-icons">build</i>
            </a>
          </li>
          <li>
            <a href="{{ url_for('kits') }}" class="btn-floating tooltipped orange" data-position="left" data-tooltip="Kits">
              <i class="material-icons">line_style</i>
            </a>
          </li>
          <li>
            <a href="{{ url_for('partners') }}" class="btn-floating tooltipped green" data-position="left" data-tooltip="Partners">
              <i class="material-icons">recent_actors</i>
            </a>
          </li>
        </ul>
      </div>
    </main>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    {% block scripts %} {% endblock %}
  </body>

</html>